<app-top-nav></app-top-nav>
<mat-toolbar class="mt-5">
   <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form" [formGroup]="registerForm">
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" name="fname" required formControlName="firstName" maxlength="30"
               minlength="5">
            <mat-hint align="end">{{registerForm.controls['firstName'].value?.length}} / 30</mat-hint>
            <mat-hint align="start">Should have minimum 5 and maximum 30 characters</mat-hint>
         </mat-form-field>
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" name="lname" required formControlName="lastName" maxlength="25"
               minlength="5">
            <mat-hint align="end">{{registerForm.controls['lastName'].value?.length}} / 25</mat-hint>
            <mat-hint align="start">Should have minimum 5 and maximum 25 characters</mat-hint>
         </mat-form-field>
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" name="email" required formControlName="email">
            <mat-error
               *ngIf="registerForm.controls['email'].invalid  && registerForm.controls['email'].value?.length > 0">
               Please enter a valid email address
            </mat-error>
            <mat-hint align="start">Ex. johan@gmail.com</mat-hint>
         </mat-form-field>
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Login Password" name="password" required
               formControlName="password" minlength="8" maxlength="15">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">{{registerForm.controls['password'].value?.length}} / 20</mat-hint>
            <mat-hint align="start">Should have atleast 8 characters</mat-hint>
         </mat-form-field>
         <div>
            <label>Register as:</label>
            <mat-radio-group required formControlName="roleId">
               <mat-radio-button *ngFor="let role of roles" [value]="role.id">
                  {{role.name}}
               </mat-radio-button>
            </mat-radio-group>
         </div>
         <mat-card-actions class="text-right">
            <button mat-raised-button (click)="register()" color="primary"
               [disabled]="!registerForm.valid">Register</button>
            <button mat-raised-button (click)="Clear()" color="normal">Clear</button>
         </mat-card-actions>
      </form>
   </mat-card-content>
</mat-card>